= cache message do
  .row.message{class: message.sender }
    .span2
      %ul.thumbnails.hidden-phone
        %li.span2
        - if message.sender == 'Jacob Gillespie'
          = image_tag('jacob.jpg', :alt => 'Jacob Gillespie', :class => 'thumbnail' )
        - else
          = image_tag('kathryn.jpg', :alt => 'Kathryn Elizabeth', :class => 'thumbnail' )
    .span10
      %div
        %p
          %strong #{message.sender} (#{message.time_cst.strftime('%A, %B %e, %Y, %l:%M %P').html_safe}):
        = auto_link(simple_format(h(message.body)), :sanitize => false)
        = link_to("See more from #{message.time_cst.strftime('%B %e, %Y')}", date_path([message.time_cst.year, message.time_cst.month, message.time_cst.day].join('-')), class: 'seeMore')
  :javascript
    mixpanel.track("Viewed Messages", {"time": "#{message.time_cst}", "sender": "#{message.sender}", "id": "#{message.id}"});